backup_n8n_2026-02-22/n8n-backup2github.json
{
  "updatedAt": "2026-02-22T12:53:42.225Z",
  "createdAt": "2026-02-21T20:33:36.598Z",
  "id": "4Fxl0NrNHZsV_dVqumF4G",
  "name": "n8n-backup2github",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "84b0a4b8-8fad-48c6-b34e-3d9ff5065d35",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "8a38b024-36bb-4b3d-927d-d07c89aeaf4f",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "UbBMblSY98XaD36S",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d0b3449-eed6-4aad-a50a-e44e64d390cd",
              "name": "folderName",
              "value": "=backup_n8n_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "98ff8684-f013-4a4b-b38c-ba03dec0dc13",
      "name": "backup name"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        0
      ],
      "id": "af562f85-d27d-4fea-94be-b891f5017421",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71cda2a8-b381-4cf9-ab76-b79d05f6cef9",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "7616809f-bc21-4c4f-9451-5e37ab17a1a7",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        96
      ],
      "id": "71d013b9-8bea-4817-b8ce-c7044b34f994",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        96
      ],
      "id": "bc3fd619-1a5d-4832-826d-567b0a41d44e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "vibeantigravityem",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "backup",
          "mode": "list",
          "cachedResultName": "backup",
          "cachedResultUrl": "https://github.com/vibeantigravityem/backup"
        },
        "filePath": "={{ $('backup name').item.json.folderName }}/{{ $('Edit Fields').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('America/New_York').format('yyyy-MM-dd T') }} Backup completed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1216,
        96
      ],
      "id": "0da70a12-8104-491f-8013-42c02881440a",
      "name": "Create a file",
      "webhookId": "392fa3a4-ff0e-49b3-a92e-3f842784b72d",
      "credentials": {
        "githubApi": {
          "id": "izz5IM1bqfUbajxW",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FHLVmwbaR8YBefI6p7NnQmLG7JMA7ffSbfc2z2qeBQo",
          "mode": "list",
          "cachedResultName": "n8n-backup-logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FHLVmwbaR8YBefI6p7NnQmLG7JMA7ffSbfc2z2qeBQo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1429668805,
          "mode": "list",
          "cachedResultName": "failures",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FHLVmwbaR8YBefI6p7NnQmLG7JMA7ffSbfc2z2qeBQo/edit#gid=1429668805"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        224
      ],
      "id": "803d144a-c062-40d7-b4d9-1805bb033723",
      "name": "Append row in sheet",
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mE7hfAbe3vs7cAmN",
          "name": "Google Sheets account 3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "vibeantigravityem",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "backup",
          "mode": "list",
          "cachedResultName": "backup",
          "cachedResultUrl": "https://github.com/vibeantigravityem/backup"
        },
        "filePath": "={{ $('backup name').item.json.folderName }}/README.md",
        "fileContent": "=# N8N Workflow  Backup - {{ $('backup name').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('America/New_York').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time {{ $now.setZone('America/New_York').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n---\n*Automatically generated by N8N Backup Workflow*\n",
        "commitMessage": "=Last update: {{ $now.setZone('America/New_York').format('yyyy-MM-dd T') }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        800,
        -96
      ],
      "id": "7412df50-936a-4868-b100-1eabc85ac15b",
      "name": "Create a file1",
      "webhookId": "fdc5c0f9-47b2-4480-9bfa-a5113d05db43",
      "credentials": {
        "githubApi": {
          "id": "izz5IM1bqfUbajxW",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "backup name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "backup name": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Create a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "47e5f2b0-7bda-4127-b60d-8e9a6215fccb",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-21T20:33:36.603Z",
      "createdAt": "2026-02-21T20:33:36.603Z",
      "role": "workflow:owner",
      "workflowId": "4Fxl0NrNHZsV_dVqumF4G",
      "projectId": "BmMpVuq1B9sIgOOL"
    }
  ],
  "activeVersion": null,
  "tags": []
}