backup_n8n_2026-03-06/AI-Automation-AI_Agents-Sentiments.json
{
  "updatedAt": "2026-01-26T00:25:43.392Z",
  "createdAt": "2026-01-25T16:43:05.449Z",
  "id": "YtLurckOgrpkI7lIcSrBT",
  "name": "AI-Automation-AI_Agents-Sentiments",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Customer Reviews",
        "formDescription": "How satisfied are you",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "provide your name",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Review",
              "fieldType": "textarea",
              "placeholder": "How satisfied are you",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "f2f092d6-2c77-416e-a6eb-5fa25eb27320",
      "name": "On form submission",
      "webhookId": "9f66e862-f3ba-4720-b9c3-f659e1f1eb90"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Your Review'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert in sentiment analysis. You conduct evaluations and determine which of the three options applies: Positive, Negative, Neutral. You respond with only one word."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        272,
        112
      ],
      "id": "c6bc3c48-8109-4a65-8d38-7ef8388842d0",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        16
      ],
      "id": "723882a5-639b-4708-bbf0-48957df8fbec",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14BGahc1UZ4SDBrnRyfDe_rZklHd0teuHzg7JHMbc0Kc",
          "mode": "list",
          "cachedResultName": "AI Automation-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14BGahc1UZ4SDBrnRyfDe_rZklHd0teuHzg7JHMbc0Kc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "CustomerReviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14BGahc1UZ4SDBrnRyfDe_rZklHd0teuHzg7JHMbc0Kc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Review": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        16
      ],
      "id": "3f7ae089-feef-4697-a0e5-f0f4ab66989f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XBCWefwGEOwqT2s6",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        320
      ],
      "id": "69ac7ffc-66ca-45af-ad5f-19aee544e16f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8WN5JV6ynhyq7YaF",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c2f0e695-2a99-4ede-b4f4-50dd84b48bb6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-25T16:43:05.457Z",
      "createdAt": "2026-01-25T16:43:05.457Z",
      "role": "workflow:owner",
      "workflowId": "YtLurckOgrpkI7lIcSrBT",
      "projectId": "BmMpVuq1B9sIgOOL"
    }
  ],
  "activeVersion": null,
  "tags": []
}