backup_n8n_2026-03-06/AI-Automation-AI-Agent-RAG-Post.json
{
  "updatedAt": "2026-01-28T02:54:37.465Z",
  "createdAt": "2026-01-26T01:42:44.695Z",
  "id": "8rh_8Aq4dRzbka0tKXfME",
  "name": "AI-Automation-AI-Agent-RAG-Post",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ivOvIdtkPiBJE9_RMxKcSipeE8KB3Rf7",
          "mode": "list",
          "cachedResultName": "Tesla Earnings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ivOvIdtkPiBJE9_RMxKcSipeE8KB3Rf7"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d7c9eb06-4312-4854-9f93-643b5f97e153",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cYfaHB4kusMfZ7c1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "8986f76b-380d-4588-a4c3-bf47d5e8382a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cYfaHB4kusMfZ7c1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntesla",
          "mode": "list",
          "cachedResultName": "n8ntesla"
        },
        "options": {
          "pineconeNamespace": "tslan8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "c1ed96d8-c331-4d91-b41f-5a2e72c8e14d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YRhgMI0hjMwhCmhv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        208
      ],
      "id": "0487a455-6623-4dc3-b005-4fd1d9a9d035",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "8WN5JV6ynhyq7YaF",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "TSLA",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "1d270d5a-e10e-4533-a418-bcf52b3e713e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        416
      ],
      "id": "8167310b-1b3c-4441-bb55-74c94b2ba064",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "32ee2c2f-6858-46fa-bfe3-007ef503c0d3",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-26T01:42:44.698Z",
      "createdAt": "2026-01-26T01:42:44.698Z",
      "role": "workflow:owner",
      "workflowId": "8rh_8Aq4dRzbka0tKXfME",
      "projectId": "BmMpVuq1B9sIgOOL"
    }
  ],
  "activeVersion": null,
  "tags": []
}